.header-vip-acc {
  height: 1203px;
  background: url('./img/header-vip-acc-bg.jpg') 100% 100% no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.header-vip-acc-block {
  margin-top: 167px;
}

.header-vip-acc__title {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 4%;
  line-height: 63px;
  text-align: justify;
  width: 850px;
}

.header-vip-acc__subtitle {
  margin: 26px 0 18px;
  font-size: 20px;
  line-height: 30px;
  width: 442px;
  text-align: justify;
  width: 450px;
}

.header-vip-acc__button {
  width: 294px;
  height: 52px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-top: 33px;
  margin-right: 13px;
  background: #52afee;
  border: 1px solid #4ca1dc;
  border-radius: 5px;
  line-height: 21px;
  transition: .4s;
}

.header-vip-acc__button--black {
  background: #000;
  color: #52afee;
}

.header-vip-acc__button:hover {
  background: #009cff;
  cursor: pointer;
  color: #fff;
}

.header-vip-acc__button:focus {
  outline:0;
}

.header-vip-acc__text {
  font-size: 14px;
  width: 434px;
  text-align: justify;
  width: 220px;
}

@media (max-width: 992px) {
  .header-vip-acc__title {
    font-size: 38px;
    width: 660px;
  }

  .header-vip-acc__subtitle {
    font-size: 18px;
    width: 370px;
  }

  .header-vip-acc__text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header-vip-acc__title {
    font-size: 32px;
    width: 520px;
  }

  .header-vip-acc__subtitle {
    font-size: 16px;
    width: 320px;
  }

  .header-vip-acc__text {
    font-size: 11px;
  }

  .header-vip-acc__button {
    width: 254px;
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .header-vip-acc__title {
    width: 400px;
    text-align: left;
  }

  .header-vip-acc__subtitle {
    width: 300px;
  }
}
