.header-homepage {
  height: 870px;
  background: url('./img/header-homepage-bg.jpg') 100% 100% no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.header-homepage-block {
  margin-top: 250px;
  text-align: left;
  height: 450px;
  width: 100%;
}

.header-homepage__img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.header-homepage__img--1 {
  background: url('./img/header-homepage.png') no-repeat;
  background-size: contain;
}

.header-homepage__img--2 {
  background: url('./img/header-homepage2.png') no-repeat;
  background-size: contain;
}

.header-homepage__img--3 {
  background: url('../../page-vip-acc//prices/img/prices.png') no-repeat;
  background-size: contain;
}

.header-homepage__title {
  margin-top: 45px;
  font-size: 44px;
  font-weight: 800;
  letter-spacing: 4%;
  line-height: 63px;
}

.header-homepage__subtitle {
  margin: 23px 0 30px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.header-homepage__button {
  width: 218px;
  height: 52px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
  background: #52afee;
  border: 1px solid #4ca1dc;
  border-radius: 5px;
  transition: .4s;
}

.header-homepage__button:hover {
  background: #009cff;
  cursor: pointer;
  color: #fff;
}

.header-homepage__button:focus {
  outline:0;
}

.header-homepage__text {
  font-size: 14px;
}

.slick-dots li{
  border-radius: 50%;
  border: 2px solid white;
  width: 12px;
  height: 12px;
  margin-left: 17px;
}

.slick-dots {
  padding-right: 8.5px;
}

.header-homepage .slick-dots {
  bottom: -140px;
}

li.slick-active{
  background:#9b9b99;
}

@media (max-width: 1199px) {
  .header-homepage {
    height: 810px;
  }

  .header-homepage-block {
    margin-top: 220px;
  }

  .header-homepage__title {
    font-size: 38px;
    margin-top: 15px;
    line-height: 48px;
  }
  
  .header-homepage__subtitle {
    font-size: 16px;
    margin: 15px 0;
    line-height: 27px;
  }

  .header-homepage__text {
    font-size: 14px;
  }

  .header-homepage__button {
    font-size: 14px;
    width: 234px;
  }

  .header-homepage__img {
    margin-top: 20px;
  }

  .header-homepage__img--3 {
    margin-top: 10px;
  }

  .header-homepage .slick-dots {
    bottom: -115px;
  }
}

@media (max-width: 991px) {
  .header-homepage {
    height: 760px;
  }

  .header-homepage-block {
    margin-top: 180px;
  }
  
  .header-homepage__title {
    font-size: 30px;
    line-height: 38px;
  }

  .header-homepage__subtitle {
    font-size: 16px;
    margin: 10px 0;
    line-height: 24px;
  }

  .header-homepage__text {
    font-size: 12px;
  }

  .header-homepage__button {
    font-size: 13px;
    width: 194px;
  }

  .header-homepage__img {
    margin-top: 30px;
  }

  .header-homepage__img--2 {
    margin-top: 60px;
  }

  .header-homepage .slick-dots {
    bottom: -105px;
  }
}

@media (max-width: 767px) {
  .header-homepage {
    height: 560px;
  }

  .header-homepage-block {
    margin-top: 140px;
  }
  
  .header-homepage__title {
    font-size: 22px;
    line-height: 30px;
  }

  .header-homepage__subtitle {
    font-size: 13px;
    margin: 10px 0;
    line-height: 21px;
  }

  .header-homepage__text {
    font-size: 11px;
  }

  .header-homepage__button {
    font-size: 13px;
    width: 164px;
    height: 42px;
    margin-bottom: 10px;
  }

  .header-homepage__img {
    margin-top: 40px;
  }

  .header-homepage__img--2 {
    margin-top: 70px;
  }
  
  .header-homepage .slick-dots {
    bottom: 55px;
  }
}

@media (max-width: 575px) {
  .header-homepage {
    height: 500px;
  }

  .header-homepage-block {
    margin-top: 120px;
  }
  
  .header-homepage__title {
    font-size: 20px;
    line-height: 25px;
  }

  .header-homepage__subtitle {
    font-size: 12px;
    margin: 7px 0;
    line-height: 18px;
  }

  .header-homepage__text {
    font-size: 10px;
  }

  .header-homepage__button {
    font-size: 11px;
    width: 130px;
    height: 36px;
    margin-bottom: 10px;
  }

  .header-homepage__img--1 {
    margin-top: 35px;
  }

  .header-homepage__img--2 {
    margin-top: 60px;
  }

  .header-homepage__img--3 {
    margin-top: 20px;
  }
  
  .header-homepage .slick-dots {
    bottom: 95px;
  }
}

@media (max-width: 513px) {
  .header-homepage__img--1 {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .header-homepage__img--3 {
    margin-top: 35px;
  }
}

@media (max-width: 493px) {
  .header-homepage__img--3 {
    margin-top: 45px;
  }
}

@media (max-width: 481px) {
  .header-homepage__img--1 {
    margin-top: 60px;
  }
  
  .header-homepage__img--3 {
    margin-top: 50px;
  }
}

@media (max-width: 459px) {
  .header-homepage {
    height: 420px;
  }

  .header-homepage-block {
    margin-top: 120px;
  }
  
  .header-homepage__title {
    font-size: 16px;
    line-height: 22px;
  }

  .header-homepage__subtitle {
    font-size: 11px;
    margin: 5px 0;
    line-height: 15px;
  }

  .header-homepage__text {
    font-size: 9px;
  }

  .header-homepage__button {
    font-size: 10px;
    width: 110px;
    height: 32px;
    margin: 5px 0;
  }

  .header-homepage__img {
    margin-top: 40px;
  }
  
  .header-homepage .slick-dots {
    bottom: 175px;
  }

  
  .header-homepage__img--2 {
    margin-top: 55px;
  }
}

@media (max-width: 434px) {
  .header-homepage__img--1 {
    margin-top: 52px;
  }
}

@media (max-width: 419px) {
  .header-homepage__title {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 398px) {
  .header-homepage__img--2 {
    margin-top: 65px;
  }
  
  .header-homepage__img--3 {
    margin-top: 45px;
  }
}


@media (max-width: 382px) {
  .header-homepage-block {
    margin-top: 155px;
  }
  
  .header-homepage {
    height: 420px;
  }
  
  .header-homepage__title {
    font-weight: 700;
    font-size: 13px;
  }

  .header-homepage__subtitle {
    display: none;
  }

  .header-homepage__img {
    margin-top: 0;
  }

  .header-homepage__img--1 {
    margin-top: 25px;
  }

  .header-homepage__img--2 {
    margin-top: 35px;
  }

  .header-homepage .slick-dots {
    bottom: 205px;
  }
}

@media (max-width: 364px) {
  .header-homepage__title {
    margin-top: 25px;
  }
  
  .header-homepage__img--1 {
    margin-top: 38px;
  }

  .header-homepage__img--2 {
    margin-top: 30px;
  }

  .header-homepage__img--3 {
    margin-top: 5px;
  }

  .header-homepage__text {
    display: none;
  }
  
  .header-homepage__button {
    width: 100px;
    height: 28px;
    font-weight: 400;
    font-size: 9px;
  }
}

@media (max-width: 353px) {
  .header-homepage__img--3 {
    margin-top: 15px;
  }
}

@media (max-width: 338px) {
  .header-homepage__img--3 {
    margin-top: 18px;
  }
}

@media (max-width: 329px) {
  .header-homepage__img--2 {
    margin-top: 32px;
  }
  
  .header-homepage__img--3 {
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  .header-homepage__img--2 {
    margin-top: 35px;
  }
  
  .header-homepage__img--3 {
    margin-top: 22px;
  }
}

