* {
  box-sizing: border-box;
}

.trade-assets {
  height: 600px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  color: #000;
}

.trade-assets-block {
  height: 420px;
  margin-top: 100px;
}

.trade-assets-block--shadow {
  height: 380px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
  padding: 30px 25px;
}

.trade-assets__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 45px;
}

.trade-assets__text {
  font-size: 16px;
  margin-bottom: 0;
}

.trade-assets__text--grey {
  font-weight: 300;
}

.trade-assets__button {
  margin: 15px 0 20px;
  width: 210px;
  height: 52px;
  background: #52afee;
  border: 1px solid #4ca1dc;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.trade-assets__button:hover {
  background: #009cff;
  color: #fff;
  transition: .4s;
}

.trade-assets__button:focus {
  outline:0;
}

.trade-assets__item-title {
  font-weight: 700;
  text-align: left;
  padding-left: 15px;
}

.trade-assets__table {
  width: 100%;
  height: 280px;
  margin: 10px 0 35px;
}

.trade-assets__tbody {
  width: 100%;
  height: 280px;
}

.trade-assets__item {
  background: #f4f7fb;
  border: 2px solid #fff;
  vertical-align: middle;
  padding-left: 15px;
  text-align: left;
}

.trade-assets__tbody>tr:nth-of-type(2n+1)>.trade-assets__item{
  background: #fdfefe;
}

.trade-assets__icon {
  /* padding-top: 3px; */
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.trade-assets__icon--1 {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z' fill='%23F4AF3E'/%3E%3Cpath d='M12.8977 30.1042C12.9327 30.04 13.0001 30 13.0733 30H21.9267C21.9999 30 22.0673 30.04 22.1023 30.1042L27.3387 39.7042C27.4114 39.8375 27.3149 40 27.1631 40H7.83691C7.6851 40 7.58863 39.8375 7.66133 39.7042L12.8977 30.1042Z' fill='white'/%3E%3Cpath d='M37.8977 30.1042C37.9327 30.04 38.0001 30 38.0733 30H46.9267C46.9999 30 47.0673 30.04 47.1023 30.1042L52.3387 39.7042C52.4114 39.8375 52.3149 40 52.1631 40H32.8369C32.6851 40 32.5886 39.8375 32.6613 39.7042L37.8977 30.1042Z' fill='white'/%3E%3Cpath d='M25.3977 15.1042C25.4327 15.04 25.5001 15 25.5733 15H34.4267C34.4999 15 34.5673 15.04 34.6023 15.1042L39.8387 24.7042C39.9114 24.8375 39.8149 25 39.6631 25H20.3369C20.1851 25 20.0886 24.8375 20.1613 24.7042L25.3977 15.1042Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}

.trade-assets__icon--2 {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.9747 60C13.4053 59.9842 -0.0157756 46.5442 1.39176e-05 29.9747C0.0126455 13.4053 13.4526 -0.0157756 30.0221 1.39176e-05C46.5821 0.0126455 60 13.44 60 30C59.9747 46.5663 46.5442 59.9842 29.9747 60Z' fill='%23EFA80A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.0203 37.9874H27.4203V31.0211H31.6014C32.5771 31.0211 36.2435 31.3463 36.2435 33.9484C36.2435 36.5474 34.5066 38.0127 31.0203 38.0127V37.9874ZM27.4203 21.2916H29.7445C31.3677 21.2916 34.5729 21.5727 34.5729 24.219C34.6835 25.9463 33.4361 27.459 31.7182 27.6769H27.4203V21.2916ZM38.0782 28.539C40.0866 27.4053 41.1698 25.1442 40.7971 22.8706C40.3329 19.3653 36.1519 18.0421 32.855 17.7642V12.4937H29.6056V17.7169H27.4203V12.4937H24.1708V17.7169H17.6245V21.0832H20.0592C21.1519 21.0832 21.6856 21.4084 21.6856 22.2895V36.7558C21.6856 37.9653 21.0856 38.3348 20.4319 38.3348H17.9466V41.7705H24.2624V47.1137H27.5371V41.7705H29.7224V47.1137H32.9024V41.7705H33.5971C40.2856 41.7705 42.515 38.499 42.515 34.04C42.4613 31.4127 40.6392 29.1484 38.0782 28.539Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}

.trade-assets__icon--3 {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z' fill='%23908F8F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.8273 7.05884H28.3621L14.1177 32.0088L28.3621 50.6575H31.8273L45.8824 32.0088L31.8273 7.05884ZM27.8202 25.7448L19.7233 28.8581L27.8202 13.91V25.7448ZM28.443 29.481V34.4637L20.9689 31.9724L28.443 29.481ZM31.5572 29.481L39.0312 32.2837L31.5572 35.0865V29.481ZM39.6541 28.8581L31.5572 25.7824V13.91L39.6541 28.8581ZM29.7731 47.5433L20.9689 35.7094L29.7883 39.0128L38.4084 35.78L29.7731 47.5433Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}

.trade-assets__icon--4 {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z' fill='%23385B7A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.8237 42.353H45.8823V35.5314H26.5291L29.5536 28.7098H42.3529V21.8882H32.5798L36.3987 13.2763L29.9103 10.5883L24.8997 21.8882H14.1176V28.7098H21.8735L15.8237 42.353Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}

.trade-assets__icon--5 {
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 60C46.5685 60 60 46.5685 60 30C60 13.4315 46.5685 0 30 0C13.4315 0 0 13.4315 0 30C0 46.5685 13.4315 60 30 60Z' fill='%23C5C5C5'/%3E%3Cpath d='M29.6305 10.5883C19.7975 24.9033 16.0155 34.7082 18.2847 40.0029C21.6884 47.945 37.5726 48.9091 42.1109 40.0029C45.1365 34.0654 40.9764 24.2605 29.6305 10.5883Z' fill='%23565656'/%3E%3C/svg%3E") no-repeat;
}

@media (max-width: 1199px) {
  .trade-assets__title {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .trade-assets {
    height: 820px;
  }

  .trade-assets-block {
    height: 310px;
    margin-top: 20px;
    text-align: center;
  }

  .trade-assets-block--shadow {
    height: 380px;
  }

  .trade-assets__title {
    font-size: 38px;
    margin-bottom: 20px;
  }

  .trade-assets__text {
    font-size: 14px;
  }

  .trade-assets__text--grey {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .trade-assets {
    height: 800px;
  }
  
  .trade-assets-block {
    height: 300px;
  }

  .trade-assets-block--shadow {
    height: 380px;
  }

  .trade-assets__title {
    font-size: 32px;
  }

  .trade-assets__text {
    font-size: 12px;
  }
}

@media (max-width: 458px) {
  .trade-assets {
    height: 760px;
  }
  
  .trade-assets-block {
    height: 330px;
  }

  .trade-assets__table {
    height: 240px;
    margin-bottom: 10px;
  }

  .trade-assets__button {
    margin: 15px 0;
  }

  .trade-assets__text--grey {
    margin-top: 0;
  }
}

@media (max-width: 371px) {
  .trade-assets {
    height: 700px;
  }
  
  .trade-assets__title {
    font-size: 28px;
    line-height: 45px;
  }

  .trade-assets-block {
    height: 270px;
  }

  .trade-assets-block--shadow {
    height: 320px;
  }

  .trade-assets__item-title {
    font-size: 13px;
  }

  .trade-assets__text {
    font-size: 11px;
  }

  .trade-assets__button {
    width: 144px;
    height: 44px;
    font-size: 13px;
    font-weight: 400;
  }

  .trade-assets__item {
    font-size: 12px;
    padding-bottom: 4px;
  }

  .trade-assets__icon {
    position: relative;
    top: 4.5px;
  }
}

@media (max-width: 321px) {
  .trade-assets {
    height: 710px;
  }
  
  .trade-assets-block {
    height: 285px;
  }

  .trade-assets-block--shadow {
    height: 320px;
  }
}


