* {
  box-sizing: border-box;
}

.forgot-password {
  background: url('./img/sign-bg.jpg') 100% 100% no-repeat;
  background-size: cover;
  height: 100vh;
}

.forgot-password__wrapper {
  background: url('./img/sign-form-bg.jpg') 80% 60% no-repeat;
  background-size: cover;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  width: 80%;
}

.forgot-password-form {
  width: 80%;
  height: 280px;
  font-family: 'Open Sans', sans-serif;
}

.forgot-password__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 28px;
}

.forgot-password__text {
  font-size: 14px;
}

.forgot-password__small-text {
  font-size: 13px;
  font-weight: 600;
  width: 90%;
}

.forgot-password__button {
  background: #52afee!important;
  border:none!important;
  height: 40px;
  transition: .4s!important;
}

.forgot-password__button:hover {
  background: #009cff!important;
  color: #fff;
}

.forgot-password__button:focus {
  outline: 0;
}

.forgot-password__link {
  font-weight: 700;
}

@media (max-width: 991px) {
  .forgot-password-form {
    font-size: 15px;
  }

  .forgot-password-form::placeholder {
    font-size: 15px;
  }

  .forgot-password-form label {
    font-size: 15px;
  }
  
  .forgot-password__title {
    font-size: 26px;
  }

  .forgot-password__text {
    font-size: 13px;
  }
}

@media (max-width: 767px) {
  .forgot-password-form {
    height: 260px;
  }

  .forgot-password__title {
    font-size: 24px;
  }

  .forgot-password__button {
    font-size: 15px!important;
  }

  .forgot-password__small-text {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .forgot-password-form {
    font-size: 14px;
  }

  .forgot-password-form::placeholder {
    font-size: 14px;
  }

  .forgot-password-form label {
    font-size: 14px;
  }
  
  .forgot-password__title {
    font-size: 22px;
  }

  .forgot-password__text {
    font-size: 12px;
  }
}

@media (max-width: 380px) {
  .forgot-password-form {
    height: 380px;
    font-size: 12px;
  }

  .sign-up-form::placeholder {
    font-size: 12px;
  }

  .sign-up-form label {
    font-size: 12px;
  }
  
  .sign-up__title {
    font-size: 24px;
  }

  .sign-up__text {
    font-size: 11px;
  }

  .forgot-password__button {
    font-size: 13px;
  }
}