.feedback {
  height: 575px;
  background: url('./img/feedback-bg.jpg') 100% 100% no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.feedback__title {
  color: #fff;
  font-size: 44px;
  font-weight: 700;
  margin: 70px 0 64px;
}

.feedback-block {
  color: #333;
}

.feedback__item {
  background: #fff;
  height: 251px;
  padding: 0 24px;
  border-radius: 7px;
}

.feedback__text {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 23px;
  padding: 28px 0 23px;
  border-bottom: 1px solid #e7eef2;
  text-align: left;
}

.feedback__author-img {
  background: #000;
  width: 62px;
  height: 62px;
  margin-right: 12px;
  border-radius: 50%;
}

.feedback__author-img--1 {
  background: url('./img/author-rl.jpg') 100% 100% no-repeat;
}

.feedback__author-img--2 {
  background: url('./img/author-jw.jpg') 100% 100% no-repeat;
}

.feedback__author-img--3 {
  background: url('./img/author-mg.jpg') 100% 100% no-repeat;
}

.feedback__author-img--4 {
  background: url('./img/author-jw.jpg') 100% 100% no-repeat;
}

.feedback__author-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}

.feedback__author-date {
  color: #797979;
  font-size: 14px;
}

.feedback .slick-dots {
  bottom: -90px;
  padding-right: 8.5px;
}

.slick-dots li{
  border-radius: 50%;
  border: 2px solid white;
  width: 12px;
  height: 12px;
  margin-left: 17px;
}

li.slick-active{
  background:#9b9b99;
}

.slick-next {
  right: -60px;
}

.slick-prev {
  left: -60px;
}

.slick-next:before{
  content: '\203A';
  font-size: 40px;
  opacity: 100%;
}

.slick-prev:before{
  content: '\2039';
  font-size: 40px;
  opacity: 100%;
}

.feedback__slider {
  width: 1140px;
}

@media (max-width: 1199px) {
  .feedback__slider {
    width: 960px;
  }
}

@media (max-width: 991px) {
  .feedback__slider {
    width: 720px;
  }

  .feedback__title {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .feedback__slider {
    width: 540px;
  }

  .feedback__title {
    font-size: 32px;
  }
}

@media (max-width: 575px) {
  .feedback {
    height: 450px;
  }
  
  .feedback__slider {
    width: 100%;
  }

  .feedback__title {
    margin: 40px 0;
  }

  .feedback__text {
    font-size: 13px;
    padding: 14px;
    line-height: 27px;
    margin-bottom: 17px;
  }

  .feedback__item {
    height: 210px;
  }
}

@media (max-width: 537px) {
  .feedback__item {
    height: 230px;
  }
}

@media (max-width: 470px) {
  .feedback__text {
    font-size: 12px;
    line-height: 23px;
  }
}

@media (max-width: 411px) {
  .feedback-block__wrapper {
    margin-top: 6px;
  }

  .feedback__author-name {
    font-size: 14px;
  }

  .feedback__author-date {
    font-size: 12px;
  }

  .feedback__item {
    padding: 0 14px;
  }

  .feedback .slick-dots {
    bottom: -55px;
  }
}

@media (max-width: 383px) {
  .feedback__text {
    font-size: 10px;
    line-height: 20px;
  }

  .feedback__item{
    height: 210px;
    padding: 0 10px;
  }
}

@media (max-width: 366px) {
  .feedback__title {
    font-size: 28px;
  }
  
  .feedback__item {
    height: 220px;
  }
}

@media (max-width: 335px) {
  .feedback__text {
    font-size: 9px;
    padding: 12px 8px;
  }

  .feedback-block__wrapper {
    margin-top: 10px;
  }

  .feedback__author-name {
    font-size: 12px;
  }

  .feedback__author-date {
    font-size: 11px;
  }
}






