.footer {
  height: 684px;
  background: #222;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.footer__block {
  padding-right: 20px;
}

.footer-block--logo {
  padding-bottom: 20px;
  margin: 40px 0 30px;
  border-bottom: .5px solid #7a7a7a;
}

.footer__img {
  margin-left: 25px;
}

.footer__img--amazon {
  height: 27px;
}

.footer__img--meta-quotes {
  height: 18px;
}

.footer-block--text {
  margin-top: 45px;
}

.footer__text {
  color: #888;
  font-size: 11px;
  margin-bottom: 11px;
  text-align: justify;
}

.footer__text--white {
  color: #fff;
}

.footer__list {
  margin: 0;
}

.footer__spacer {
  height: 15px;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__symbol {
  color: #fff;
  margin: 0 10px;
}

@media (max-width: 1199px) {
  .footer {
    height: 730px;
  }
}

@media (max-width: 991px) {
  .footer {
    height: 860px;
  }

  .footer__text {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 980px;
  }

  .footer-block--logo {
    height: 140px;
  }

  .footer__link{
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .footer {
    height: 530px;
  }
  
  .footer__list {
    width: 220px;
    flex-wrap: wrap;
  }

  .footer__text-wrapper {
    margin-left: 0;
  }

  .footer-block--text {
    display: none;
  }
}

@media (max-width: 440px){
  .footer {
    height: 540px;
  }
  
  .footer__img--amazon{
    width: 72px;
  }

  .footer__img--meta-quotes{
    width: 96px;
  }

  .footer__img--sumsub{
    width: 64px;
  }
}

@media (max-width: 371px){
  .footer__img {
    width: 180px;
  }

  .footer__img--amazon{
    width: 57.5px;
  }

  .footer__img--meta-quotes{
    width: 78px;
  }

  .footer__img--sumsub{
    width: 51px;
  }

  .footer__img--facebook,.footer__img--linkedin {
    width: 40px;
  }
}